<%-include('../partials/adminheader.ejs') %>

            
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h1>Dashboard</h1>
                        <!-- <a href="#" class="btn">View All</a> -->
                    </div>

                </div>

               
                
            </div>


        </div>
    </div>



    <%-include('../partials/adminfooter.ejs') %>