<%-include('../partials/adminheader.ejs') %>


<div class="details">
    <div class="recentOrders">
       
        <h2>Add Products</h2>
        

        <form>

            <div class="control_section">
                <label for="productname">Product name</label>
                <br>
                <input type="text" name="productname" id="productname"  required>
            </div>
            <br>
            <div class="control_section">
                <label for="productname">Price</label>
                <br>
                <input type="text" name="productname" id="productname"  required>
            </div>
            <br>
            <div class="control_section">
                <label for="productname">Brand</label>
                <br>
                <input type="text" name="productname" id="productname"  required>
            </div>
            <br>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Specifications" aria-label="Username">
                <!-- <span class="input-group-text">@</span> -->
                <input type="text" class="form-control" placeholder="Optional" aria-label="Server">
              </div>

              <br>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>

            <br>
            
            <div class="d-flex justify-content-around">
            <div class="cardHeader d-flex">
                <a href="#" class="btn">Submit</a>
               
            </div>
            <div class="cardHeader d-flex">
                <a href="#" class="btn">Cancel</a>
               
            </div>
        </div>

            <!-- <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
              </div> -->

          </form>

          <!-- <label for="imag1">
            <p id="1l" >
                Upload Preview image 1
            </p>
            <img src="h" alt="dfwf" id="im1">
        </label> -->





        
    </div>
</div>












<%-include('../partials/adminfooter.ejs') %>