<%- include('../partials/adminheader.ejs') -%>





            
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h1>Products</h1>
            <a href="/admin/addProduct" class="btn">Add Products</a>
        </div>
        
        <table>
            <thead>
                <tr>
                    <td>Product Name</td>
                    <td>Price</td>
                    <td>Image</td>
                    <td>Category</td>
                    <td>Status</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>poco M2 pro</td>
                    <td>12000</td>
                    <td>...</td>
                    <td>xioami</td>
                    <td><span class="status delivered">In stock</span></td>
                    <td><ion-icon name="create-outline"></ion-icon></td>
                    <td><ion-icon name="trash-outline"></ion-icon></td>

                </tr>

               
                <tr>
                    <tr>
                        <td>poco M2 pro</td>
                        <td>12000</td>
                        <td>...</td>
                        <td>xioami</td>
                        <td><span class="status delivered">In stock</span></td>
                        <td><ion-icon name="create-outline"></ion-icon></td>
                        <td><ion-icon name="trash-outline"></ion-icon></td>
                    </tr>
                </tr>

                <tr>
                    <tr>
                        <td>poco M2 pro</td>
                        <td>12000</td>
                        <td>...</td>
                        <td>xioami</td>
                        <td><span class="status delivered">In stock</span></td>
                        <td><ion-icon name="create-outline"></ion-icon></td>
                        <td><ion-icon name="trash-outline"></ion-icon></td>
                    </tr>
                </tr>

                <tr>
                    <tr>
                        <td>poco M2 pro</td>
                        <td>12000</td>
                        <td>...</td>
                        <td>xioami</td>
                        <td><span class="status delivered">In stock</span></td>
                        <td><ion-icon name="create-outline"></ion-icon></td>
                        <td><ion-icon name="trash-outline"></ion-icon></td>
                    </tr>
                </tr>
            </tbody>
        </table>
    </div>

   
    
</div>


</div>
</div>





<%-include('../partials/adminfooter.ejs') %>