<%-include('../partials/userHeader') %>


    <div class="container ">
        <div class="row">
            <div class="d-flex p-4">
                <div class="col-md-6">
                    <h1>Our Story</h1>
                    <br>
                    <p>Introducing PhoneBazaar, the premier destination for cutting-edge smartphones in 2023! We are your
                        No.1 online marketplace for mobile phones, proudly serving customers throughout India. With a
                        whopping 10,500 sellers offering 300 top-notch brands, we've got something for every tech enthusiast
                    </p>
                    <p>
                        PhoneBazaar has more than 1 Million products to offer, growing at a very fast. Exclusive offers a
                        diverse assotment in categories ranging from consumer.
                    </p>
    
                    <br>
                    <h3>Why choose phoneBazaar ? </h3>
                    <br>
                    <ul>
                        <li>
                            📱 Explore the latest and greatest mobile phones.
                        </li>
                        <br>
                        <li>
                            🌟 Supported by tailored marketing, data insights, and top-notch service.
                        </li>
                        <br>
                        <li>
                            🤝 Join our community of 3 million satisfied customers.
                        </li>
                    </ul>
                    <br>
                    <p>
                        Upgrade your mobile experience with Exclusive Mobiles - where innovation meets convenience
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="assets/aboutuslogo.svg">
                </div>
            </div>
           
            <div class="col-md-12 p-5 d-flex justify-content-center"> 
                <img src="assets/highlights.svg">
            </div>
            
        </div>
        
    </div>


    <%-include('../partials/userFooter') %>