<%-include('../partials/userHeader.ejs') %>


    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">

        <div class="carousel-inner p-5">
            <div class="carousel-item active">
                <img src="../assets/iphonebanner.svg" class="d-block w-100" alt="Iphone15">
                <div class="carousel-caption d-none d-md-block">
                    <div class="custom-carousel-content">
                        
                        <div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/pixel.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="custom-carousel-content">
                        <!-- <h1>
                            
                           &amp; 
                        </h1>
                  
                        <div>
                            <a href="#" class="btn btn-slider">
                              
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="carousel-item">
            
                <img src="../assets/iphone2nd.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="custom-carousel-content">
                       
                       
                        <!-- <div>
                            <a href="#" class="btn btn-slider">
                            
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>




<div class="py-3 py-md-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="mb-4">Our Categories</h4>
            </div>
            <div class="col-3 col-md-2">
                <div class="category-card">
                    <a href="">
                        <div class="category-card-img">
                            <img src="../assets/pocom6pro.svg" alt="img " class="w-100" alt="Laptop">
                        </div>
                        <div class="category-card-body">
                            <h5>Galaxy S23 Ultra</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3 col-md-2">
                <div class="category-card">
                    <a href="">
                        <div class="category-card-img">
                            <img src="../assets/pocom6pro.svg" alt="img " class="w-100" alt="Laptop">
                        </div>
                        <div class="category-card-body">
                            <h5>Galaxy S23 Ultra</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3 col-md-2">
                <div class="category-card">
                    <a href="">
                        <div class="category-card-img">
                            <img src="../assets/pocom6pro.svg" alt="img " class="w-100" alt="Laptop">
                        </div>
                        <div class="category-card-body">
                            <h5>Galaxy S23 Ultra</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3 col-md-2">
                <div class="category-card">
                    <a href="">
                        <div class="category-card-img">
                            <img src="../assets/pocom6pro.svg" alt="img " class="w-100" alt="Laptop">
                        </div>
                        <div class="category-card-body">
                            <h5>Galaxy S23 Ultra</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3 col-md-2">
                <div class="category-card">
                    <a href="">
                        <div class="category-card-img">
                            <img src="../assets/pocom6pro.svg" alt="img " class="w-100" alt="Laptop">
                        </div>
                        <div class="category-card-body">
                            <h5>Galaxy S23 Ultra</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3 col-md-2">
                <div class="category-card">
                    <a href="">
                        <div class="category-card-img">
                            <img src="../assets/pocom6pro.svg" alt="img " class="w-100" alt="Laptop">
                        </div>
                        <div class="category-card-body">
                            <h5>Galaxy S23 Ultra</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-3 py-md-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="mb-4">New Arrival</h4>
            </div>
            <div class="col-6 col-md-3">
                <div class="category-card">
                    <a href="">
                        <div class="category-card-img">
                            <img src="../assets/pococ55.svg" class="w-100" alt="Laptop">
                        </div>
                        <div class="category-card-body">
                            <h5>Poco C55</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="category-card">
                    <a href="">
                        <div class="category-card-img">
                            <img src="../assets/infinix hot 20.svg" class="w-100" alt="Mobile Devices">
                        </div>
                        <div class="category-card-body">
                            <h5>infinix hot 20</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="category-card">
                    <a href="">
                        <div class="category-card-img">
                            <img src="../assets/vivot2x.svg" class="w-100" alt="Mens Fashion">
                        </div>
                        <div class="category-card-body">
                            <h5>vivo 2TX</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="category-card">
                    <a href="">
                        <div class="category-card-img">
                            <img src="../assets/iphone14pro.svg" class="w-100" alt="Women Fashion">
                        </div>
                        <div class="category-card-body">
                            <h5>iphone 14 pro</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-3 py-md-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="mb-4">Our Products</h4>
            </div>
            <div class="col-md-3">
                <div class="product-card">
                    <div class="product-card-img">
                        <label class="stock bg-success">In Stock</label>
                        <img src="../assets/iphone14pro.svg" alt="Laptop">
                    </div>
                    <div class="product-card-body">
                        <p class="product-brand">HP</p>
                        <h5 class="product-name">
                           <a href="">
                                HP Laptop 
                           </a>
                        </h5>
                        <div>
                            <span class="selling-price">$500</span>
                            <span class="original-price">$799</span>
                        </div>
                        <div class="mt-2">
                            <a href="" class="btn btn1">Add To Cart</a>
                            <a href="" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                            <a href="" class="btn btn1"> View </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-card">
                    <div class="product-card-img">
                        <label class="stock bg-success">In Stock</label>
                        <img src="../assets/iphone14pro.svg" alt="Red MI Note 8">
                    </div>
                    <div class="product-card-body">
                        <p class="product-brand">MI</p>
                        <h5 class="product-name">
                           <a href="">
                                Red MI Note 8
                           </a>
                        </h5>
                        <div>
                            <span class="selling-price">$200</span>
                            <span class="original-price">$300</span>
                        </div>
                        <div class="mt-2">
                            <a href="" class="btn btn1">Add To Cart</a>
                            <a href="" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                            <a href="" class="btn btn1"> View </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-card">
                    <div class="product-card-img">
                        <label class="stock bg-success">In Stock</label>
                        <img src="../assets/iphone14pro.svg" alt="Mens Shirt">
                    </div>
                    <div class="product-card-body">
                        <p class="product-brand">Levis</p>
                        <h5 class="product-name">
                           <a href="">
                                Mens Shirt 
                           </a>
                        </h5>
                        <div>
                            <span class="selling-price">$299</span>
                            <span class="original-price">$359</span>
                        </div>
                        <div class="mt-2">
                            <a href="" class="btn btn1">Add To Cart</a>
                            <a href="" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                            <a href="" class="btn btn1"> View </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-card">
                    <div class="product-card-img">
                        <label class="stock bg-success">In Stock</label>
                        <img src="../assets/iphone14pro.svg" alt="Head Phone">
                    </div>
                    <div class="product-card-body">
                        <p class="product-brand">Asus</p>
                        <h5 class="product-name">
                           <a href="">
                            Head Phone
                           </a>
                        </h5>
                        <div>
                            <span class="selling-price">$399</span>
                            <span class="original-price">$499</span>
                        </div>
                        <div class="mt-2">
                            <a href="" class="btn btn1">Add To Cart</a>
                            <a href="" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                            <a href="" class="btn btn1"> View </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%-include('../partials/userFooter.ejs') %>